*{box-sizing:border-box}

body {
    margin: 0px;
    font-family:'Times New Roman', Times, serif;
}

.heading-type {
    font-family: 'Source Code Pro', monospace;
}

.text-type {
    font-family: 'Andada';
    letter-spacing: 3px;
    word-spacing: 6px;
}

nav {
    background: #1b242f;
    top:0;
    width: 100%;
    border-bottom:3px solid rgb(66, 228, 243);
}

.dis{
    display:block;
}

#menu{
    display:none;
    color:white;
}

#menu button{
    border:3px solid rgb(66, 228, 243);
    border-radius:10px;
    padding: 0 3px;
    color:rgb(66, 228, 243);
    background-color:transparent;
}

.bar {
    width: 35px;
    height: 20px;
    background-color: black;
    margin: 6px 0;
}



nav a {
    color:white;
    font-size: 20px;
    text-decoration-line:none;
}

nav a:hover {
    color:#ff349b;
    border-bottom: 2px solid #ff349b;
}


#div1 {
    text-align: center;
    height: 100vh;
    padding: 100px 10px;
    background-color: #e7dfdf;
}

.div1-img-cont {
    width: 100%;
    padding: 5px;
}

#div1-gif {
    border-radius: 0 50px;
    max-width: 600px;
}

#div1 h1{ font-size:60px; }

#about {
    width:100%;
    padding:70px 3px;
    text-align:center;
    font-size:30px;
}

#crd-cnt{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px 0px 50px 0px;
}

.card1{
    width: 300px;
}

.card1-img{height:150px}

.card1-title{font-size:25px;}

.card1-text{font-size:18px;}

#inf-skl{
    padding: 25px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#info-container,#skl-container{
    width: 450px;
}

#skl-container > div{
    margin:15px 0;
}

.skl-name {
    background-color:#04c2c9;
    width:30%;
    height: 30px;
    font-size:20px;
    float:left;
    border-radius:10px 0px 0px 10px;
}

.skl-rng {
    width: 70%;
    background-color: rgb(200,200,200);
    height: 30px;
    float: right;
    border-radius: 0px 10px 10px 0px;
}

.rng {
    height: 30px;
    background-color: #00a1a7;
    border-radius: 0px 10px 10px 0px;
    animation-name: range;
    animation-duration: 2s;
    animation-timing-function: ease;
}

#projects{
    padding: 70px 5px;
    text-align:center;
    background-color: #e7dfdf;
}

#pro-cont {
    padding:20px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.pro-card{
    display: flex;
    width: inherit;
    margin-bottom: 10px;
    flex-direction: column;
    background-color: white;
}

.pro-crd-img{
    width: inherit;
    height: 200px;
    background-color: aqua;
}
.pro-crd-cnt{
    padding: 10px;
    width: inherit;
    height: 200px;
    text-align: center;
}

#additional{
    padding: 70px 5px;
    text-align: center;
}

#blg-img img{
    height: 250px;
    width: 270px;
}

#blg-img img:hover{
    transform: scale(1.1);
    transition-duration: 500ms;
}

#contact{
    color: white;
    background-color: #252934;
    text-align: center;
    padding: 70px 10px;
}

input:focus,textarea:focus{
    outline: none;
}

.ipml{
    background-color:#1e242c;
    border-style: none;
    margin-bottom: 3px;
    padding: 5px 10px;
    width: 75%;
    color: white;
}

#footer{
    background-color:#1b242f;
    text-align: center;
    position: relative;
    padding: 50px 0px 20px 0px;
}

#goto-top{
    top:-35px;
    left: 90%;
    height: 50px;
    width: 35px;
    padding: 10px 5px;
    position: absolute;
    background-color: rgb(235, 52, 177);
}

#social-media-cnt{
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.smi:hover,#goto-top:hover{
    transform: scale(1.3);
    transition-duration: 500ms;
}

.smi{
    height: 50px;
    border-radius: 50%;
}


@media only screen and (max-width: 600px){

    nav:not(#menu) {
        display: flex;
        flex-direction: column;
        justify-content:center;
    }
    
    #menu { display:block; }
    
    #menu button:focus { outline: none; }
    
    nav div { display:none; }
}

@media only screen and (max-width: 700px) {
    
    #div1-gif  { width:80%; }
    #div1 h1{ font-size:36px; }
}

@media only screen and (max-width : 900px) {

    #info-container,#skl-container{ width: 100%; }
    #skl-container{ margin-top: 40px; }
}

@keyframes range {
    0% {width: 0%;}
}



